#app {
  .main-container {
    min-height: 100%;
    transition: margin-left 0.28s;
    margin-left: $base-sidebar-width;
    position: relative;
    &.none-side {
      margin-left: 0 !important;
    }
  }

  .sidebarHide {
    margin-left: 0 !important;
  }

  .sidebar-container {
    -webkit-transition: width 0.28s;
    transition: width 0.28s;
    width: $base-sidebar-width !important;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    -webkit-box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);

    .horizontal-collapse-transition {
      transition:
        0s width ease-in-out,
        0s padding-left ease-in-out,
        0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }
    .svg-icon {
      margin-right: 12px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100%;
      .el-menu-item,
      .menu-title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .el-menu-item .el-menu-tooltip__trigger {
      display: inline-block !important;
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 54px !important;
    }

    &:not(.none-side) {
      .main-container {
        margin-left: 54px;
      }
    }

    .sub-menu-title-noDropdown {
      position: relative;

      .el-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }
      }
    }

    .el-menu--collapse {
      .el-sub-menu {
        .el-sub-menu__title {
          span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
          i {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-sub-menu {
    min-width: $base-sidebar-width !important;
  }

  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform 0.28s;
    }
  }

  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }

  // 顶部menu style
  .sidebar-container-horizontal {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    .sidebar-logo-container {
      width: 140px;
    }
    .el-scrollbar {
      .el-scrollbar__view {
        height: 100%;
      }
    }

    .el-menu {
      height: 100%;
      border-bottom: none;
      .el-menu-item {
        height: 100%;
        padding: 0 8px;
        margin: 0 5px;
        .svg-icon {
          margin-right: 4px;
        }
        &:focus,
        &.is-active {
          background-color: transparent;
          color: var(--el-color-primary);
        }
        &.is-active {
          border-bottom: 2px solid var(--el-color-primary);
        }
      }
    }
    .el-sub-menu {
      display: flex;
      align-items: center;
      height: 100%;
      .el-sub-menu__title {
        height: 100%;
        padding: 0 8px;
        margin: 0 5px;
        display: flex;
        align-items: center;
        .svg-icon {
          margin-right: 4px;
        }
        .el-sub-menu__icon-arrow {
          position: relative;
          margin-top: 0;
          top: auto;
          right: 0;
          margin-left: 4px;
        }
      }
      &.is-active {
        border: none;
        background-color: transparent;
        .el-sub-menu__title {
          border-bottom: 2px solid var(--el-color-primary);
          color: var(--el-color-primary);
        }
      }
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  .el-menu {
    .svg-icon {
      margin-right: 12px;
    }
  }

  // the scroll bar appears when the sub-menu is too long
  > .el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}

// 悬浮的el-menu 样式
.el-menu--horizontal.el-menu--popup-container {
  .nest-menu {
    .el-menu-item {
      .svg-icon {
        margin-right: 6px;
      }
    }
    .el-sub-menu {
      .el-sub-menu__title {
        .svg-icon {
          margin-right: 6px;
        }
        &:hover {
          background-color: var(--el-menu-hover-bg-color);
          color: var(--el-menu-active-color);
        }
      }
    }
  }
}

.navbar {
  .left-con {
    .el-menu {
      .el-menu-item {
        padding: 0 8px;
        margin: 0 5px;
        &:focus:not(:hover) {
          background-color: transparent;
        }
      }
      .el-sub-menu {
        .el-sub-menu__title {
          padding: 0 8px;
          margin: 0 5px;
          &:focus:not(:hover) {
            background-color: transparent;
          }
          &:hover {
            background-color: var(--el-menu-hover-bg-color);
            color: var(--el-menu-active-color);
          }
        }
      }
    }
  }
}

// 针对暗黑模式做一些处理
html.dark {
  .el-sub-menu__title:hover {
    color: var(--el-color-primary);
  }
  .el-menu-item:hover {
    background-color: var(--el-menu-hover-bg-color) !important;
    color: var(--el-menu-active-color);
  }
}
